<% provide(:title, "Home") %>
<h1>Home</h1>
<div class="container">
  <% if logged_in? %>
    <div class="center">
      <%= link_to "New Post", new_post_path, class: 'btn btn-primary' %>
    </div><br>
    <%= render 'shared/feed' %>
  <% else %>
  <div class="center jumbotron">
    <%= link_to "Sign Up", signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
  <% end %>
</div>
