<li>
  <%= link_to category.name, category %> | 
  Post(s) <%= category.posts.count %> 
  <%= link_to " | delete", category, method: :delete, data: { confirm: "You sure?" } if @user == category.user || @user.admin?%>
</li>
<br>